{% extends 'base.html' %}

{% block content %}
<div class="row mt-4">
        <div class="col-md-9">
            <h4>Посты</h4>
            {% for post in posts %}
            <div class="list-group">
                <div class="post-item">
                    <h5 class="mb-1"><a href="{% url 'post_detail' post.id %}">{{post.title}}</a></h5>
                    <h6 class="mb-1">
                        {% if post.category %}
                         {{post.category}}
                        {% endif %}
                    </h6>
                    <div class="post-date"><a href="{% url 'post_detail' post.id %}">{{post.created_date}}</a></div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-md-3">
            <h4>Категории</h4>
            {% for category in categories %}
            <p><a href="?category={{ category.id }}">{{ category.title}}</a></p>
            {% endfor %}

        </div>
</div>

{% endblock %}
